.row {
    display: flex;
    justify-content: center;
}

.drawBoard {
    background-color: rgba(255, 165, 0, 0.05);
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 20px rgba(255, 165, 0, 0.2);
    transition: all 0.5s ease;
}